Source: capi-network-connection
Section: libs
Priority: extra
Maintainer: JaeHyun Kim <jeik01.kim@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, capi-base-common-dev, libvconf-dev, libglib2.0-dev, libnetwork-dev

Package: capi-network-connection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Network Connection library in TIZEN C API

Package: capi-network-connection-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-connection (= ${Source-Version}), capi-base-common-dev
Description: Network Connection library in TIZEN C API (DEV)

Package: capi-network-connection-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-connection (= ${Source-Version})
Description: Network Connection library in TIZEN C API (DBG)

